body {
    background: url("../images/light_grey_@2X.jpg");
}

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    color: #4aaaa5;
    font-weight: 700;
    background: #fff;
    border-bottom: 2px solid #ccc;
    height: 125px;
   
}

.navbar-fixed-bottom {
  background: #666;
  border-top: 8px solid #4aaaa5;
    
}

p.navbar-text {
    
    font-size: 12px;
    color: #777;
    text-align: center;
}

.navbar-header {
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

.navbar-brand {
    background: #4aaaa5;
    color: #777;
}

#connect {
  width: 100%;
  max-width: 270px;
  padding: 15px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
  font-style: bolder;
}

.main-section {
    background: #fff;
    max-width: 90%;
 
}
.auth-image {
    float: left;
}